
:root {
    
    /* font size */
    --fs-700: 1.5rem;
    --fs-500: 1.125rem;
    --fs-400: 0.9375rem;


    /* colors */
    --clr-bright-orange: 31 77% 52%;
    --clr-dark-cyan: 184 100% 22%;
    --clr-very-dark-cyan: 179 100% 13%;

    --clr-light-gray: hsl(0, 0%, 95%);
    --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    min-height: 100vh;
    font-size: var(--fs-400);
    color: var(--clr-transparent-white);
    background-color: var(--clr-light-gray);
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

.grid-content {
    --border-radius: 0.5rem;
    display: grid;
    grid-template-rows: 2rem repeat(3, auto) 2rem;
    grid-template-columns: minmax(2rem,1fr) auto minmax(2rem,1fr);
}


.grid-content > .card {
    display: grid;
    grid-template-rows: 3rem 3rem 1fr 2.5rem;
    padding: 2rem;
    grid-column: 2;
    gap: 1rem;
}

.grid-content > .card:nth-child(2) {
    --primary-color: var(--clr-bright-orange);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    grid-row: 2;
}

.grid-content > .card:nth-child(3) {
    --primary-color: var(--clr-dark-cyan);
    grid-row: 3;
}

.grid-content > .card:last-child {
    --primary-color: var(--clr-very-dark-cyan);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    grid-row: 4;
}


@media (min-width: 36.875rem) {
    .grid-content {
        grid-template-columns: minmax(2rem,1fr) repeat(3, minmax(25%, 17rem)) minmax(2rem,1fr);
        grid-template-rows: 1fr;
        grid-column: 2;
    }

    .grid-content > .card {
        grid-template-rows: 3rem 3rem minmax(12rem, 1fr) 2.5rem;
        grid-row: 1 !important;
        gap: 0;
    }

    .grid-content > .card > p {
        padding-block: 0.5rem 2rem;
    }

    .grid-content > .card:nth-child(2) {
        border-radius: 0;
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        grid-column: 2;
    }

    .grid-content > .card:nth-child(3){
        grid-column: 3;
    }

    
    .grid-content > .card:last-child {
        border-radius: 0;
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        grid-column: 4;
    }
    
}


.uppercase {
    text-transform: uppercase;
}

.text-p {color: var(--clr-transparent-white)}
.text-primary{color: var(--clr-light-gray)}

.bg-orange{background-color: hsl(var(--clr-bright-orange))}
.bg-cyan{background-color: hsl(var(--clr-dark-cyan))}
.bg-dark-cyan{background-color: hsl(var(--clr-very-dark-cyan))}


.fs-700 {font-size: var(--fs-700)}
.fs-500 {font-size: var(--fs-500)}
.fs-400 {font-size: var(--fs-400)}

.ff-heading {
    font-family: 'Big Shoulders Display', cursive;
}


.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    border-radius: 600px;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--clr-light-gray);
    color: hsl(var(--primary-color));
}

.primary-btn:hover {
    border: 1px solid var(--clr-light-gray);
    background-color: hsl(var(--primary-color));
    color: var(--clr-light-gray);
}

.attribution {
    color: black;
}

.attribution a {
    text-decoration: none;
    color: hsl(var(--clr-dark-cyan));
}

.attribution a:hover {
    text-decoration: underline;
}

